body{
    background-color:   rgb(255, 255, 255);
}
#cabeza{
    text-align: center;
}
#iniciar{
    text-align: center;;
}

#iniciar_juego{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#estadisticas{
    padding: 10px 20px;
    background-color: #3ca4ac;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#jocPenjat{
/* vacio por el momento ya que este es para la imagen  */
text-align: center;
}
#abecedari{
    text-align: center;
}
#botonLetra{
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
#muestraEncriptado{
    text-align: center;
}